*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1.5rem;
  background-color:#FFE4EC;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}
.grid{

  display: grid;
  place-items: center;
 
}
.grid-two-cols{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  & .btn{
    margin-right:12px ;
  }
  
}
.btn{
    width: 50%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    min-width: 120px;
    & a{
      text-decoration: none;
      color: black;
    }
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    
    
}
.btn:hover{
  background-color: rgb(182, 177, 177);
}
/* image for no button */
.gif{
  padding-right: 1.2rem;
  
}
.cutie{
  display: grid;
  place-items:center ;
  margin-bottom: .7rem;
}

.heading{
  margin-bottom: 1.5rem;
}

.spc-no{
  width: 120px;
  height: 45px;
  font-size: 18px;
  transition: left 0.25s ease, top 0.25s ease;
}
