* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin-top: 0;
  font-size: 1.9rem;
  background-color: #FFE4EC;
  position: relative;
}

.grid {

  display: grid;
  place-items: center;

}

.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  & .btn {
    margin-right: 12px;
  }

}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.main-div {
  
  display: grid;
  place-items: center;
  justify-content: center;
  
}

/* navbar */
.nav-bar {
  width: 100vw;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

}
.nav-link{
  font-size: 30px;
  font-weight: 400;
}

.list {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & a {
    text-decoration: none;
    margin: 1rem 0 1rem 0;
  }
}

.btn {
  width: 50%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  min-width: 140px;

  & a {
    text-decoration: none;
    color: black;
  }

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);


}

.btn:hover {
  background-color: rgb(182, 177, 177);
}

/* image for no button */
.gif {
  padding-right: 1.8rem;
  width:"auto" ;
  height:"100%";
}

.cutie {
  display: grid;
  place-items: center;
  margin-bottom: .7rem;
  font-size: 2rem;
}

.heading {
  margin-bottom: 1.5rem;
}

.spc-no {
  width: 120px;
  height: 45px;
  font-size: 18px;
  transition: left 0.25s ease, top 0.25s ease;
}

/*letter*/
/* popup container */
.js-letter--container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 1000;
}

/* when JS adds show */
.js-letter--container.show {
  opacity: 1;
  pointer-events: auto;
}

/* actual letter card */
/* popup container */
.inner-box {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 1000;
}

.inner-box.show {
  opacity: 1;
  pointer-events: auto;
}

/* letter card */
.js-box {
  width: auto;              
  max-width: 80vw;        
  min-width: 280px;    

  background: #ffcbd2;
  padding: 25px;
  border-radius: 18px;

  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
  height: auto;
}


/* Memories */
.main-memo{
  width: 90%;
  margin: auto;
}

.box{
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 25px;
}

/* blur background when modal open */
.blur{
  filter: blur(6px);
  pointer-events: none;
}

/* overlay memory container */
.page-content div p{
  text-align: center;
}
.inner-box{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
  z-index: 100;
}

.inner-box.show{
  opacity: 1;
  pointer-events: auto;
}

/* memory card */
.memory-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 4rem;
  background-color: #ffe4ec;   
  padding: 100px 20px 100px 20px;
  border-radius: 20px;

  width: 100%;
  max-width: 900px;
}

.memory-card {
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
  text-align: center;
  
}

.memory-card img {
  width: 100%;
  border-radius: 12px;
}

.memory-card p {
  margin-top: 8px;
  font-weight: bold;
  color: #e75480;
  
  
}

.js-memo--container {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;  

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  padding: 20px;

  opacity: 0;
  pointer-events: none;
}

.js-memo--container.show {
  opacity: 1;
  pointer-events: auto;
}


/* Responsive */

@media (max-width:500px) {
  /* navbar  */
  .nav-link{
      
    font-size: 17px;
    font-weight: 500;
    margin-top:7px ;
    margin-bottom: 10px;
    
  }
  .grid-two-cols{
    & h3{
      font-size: 25px;
      font-weight: 450;
    }
  }
  .cutie{
    & p{
      font-size: 22px;
      font-weight: 300;
    }
  }
  .gif{
    padding-top: 80px;
  }
  .letter-box{
    display: grid;
    place-items: center;
    border: 1px solid black;
    margin-right:10px;
    margin-left: 10px;
    & p{
    font-size: 19px;
    font-weight: 400;
    
    }
  }
  .memory-box {

    grid-template-columns: 1fr;
    & .memory-card{
      height: 33%;
    }
  }
}