* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin-top: 0;
  font-size: 1.5rem;
  background-color: #FFE4EC;
  position: relative;
}

.grid {

  display: grid;
  place-items: center;

}

.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  & .btn {
    margin-right: 12px;
  }

}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.main-div {
  display: grid;
  place-items: center;
  justify-content: center;

}

/* navbar */
.nav-bar {
  width: 100vw;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

}

.list {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & a {
    text-decoration: none;
    margin: 1rem 0 1rem 0;
  }
}

.btn {
  width: 50%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  min-width: 120px;

  & a {
    text-decoration: none;
    color: black;
  }

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);


}

.btn:hover {
  background-color: rgb(182, 177, 177);
}

/* image for no button */
.gif {
  padding-right: 1.2rem;

}

.cutie {
  display: grid;
  place-items: center;
  margin-bottom: .7rem;
}

.heading {
  margin-bottom: 1.5rem;
}

.spc-no {
  width: 120px;
  height: 45px;
  font-size: 18px;
  transition: left 0.25s ease, top 0.25s ease;
}

/* letter  */
.ltr {
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
 
}

.ltr .para {
  width: 40%;
  height: 90%;
  background-color: rgba(252, 250, 250, 0.6) ;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  /* margin: 4rem 10rem 4rem 1rem; */
  display: grid;
  place-items: center;
  border-radius: 25px;
  & p{
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    text-align: center;
    margin: 4rem 4rem 8rem 4rem;
  }
}

/* Memories */
.main-memo{
  width: 90%;
  margin: auto;
}

.box{
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 25px;
}

/* blur background when modal open */
.blur{
  filter: blur(6px);
  pointer-events: none;
}

/* overlay memory container */
.inner-box{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
  z-index: 100;
}

.inner-box.show{
  opacity: 1;
  pointer-events: auto;
}

/* memory card */
.inner-box div{
  background: pink;
  padding: 30px;
  border-radius: 16px;
  font-size: 22px;
  animation: pop .4s ease;
}

@keyframes pop{
  from{transform:scale(.5);opacity:0}
  to{transform:scale(1);opacity:1}
}
